@model MVCApplication.DTOs.PaymentResponseDTO

<h2>Payment 
    s</h2>
<div>
    <p><strong>PaymentID:</strong> @Model.PaymentID</p>
    <p><strong>OrderID:</strong> @Model.OrderID</p>
    <p><strong>PaidAmount:</strong> @Model.PaidAmount</p>
    <p><strong>PaymentMethod:</strong> @Model.PaymentMethod</p>
    <p><strong>PaymentDate:</strong> @Model.PaymentDate</p>
    <p><strong>PaymentStatus:</strong> @Model.PaymentStatus</p>
</div>
<a asp-action="Index">Back to List</a>
